* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
img {
    max-width: 100%;
}
header {
    background-image: url('../img/banner_bg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 4em 0 12em;
}
.back {
    background-image: url('../img/banner_bg.jpg');
    background-position: center;
    height: 50px;
}
a, h1, .headtext p {
    text-decoration: none;
    color: #fafafa;
}

ul {
    list-style: none;
}

.maintitle, .tinker, .html, ul a {
    text-transform: uppercase;
}
.maintitle {
    font-weight: bold;
    font-size: 30px;
}
.t {
    color: #F6C45C;
    font-weight: Bold;
    font-size: 30px;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    width: 40%;
}
h1 {
    text-transform: capitalize;
    font-size: 45px;
    margin-top: 6.7em;
}

.tinker {
    color: #F69536;
}

.html {
    color: #3CC4D0;
}
.headtext {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 6.7em;
}

.headtext p{
    width: 50%;
    font-size: 18px;
    line-height: 35px;
    margin: 0.5em auto;
}
.button {
    display: inline-block;
    padding: 1em;
    border-radius: 25px;
    background-color: #fafafa;
    margin-top: 2em;
}
.button a {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    margin: auto;
}
.fa-bars {
    display: none;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 30px;
    padding: 0.2em
}
.disabled {
    opacity: 0;
}
.about {
    background-image: url('../img/about-bg.jpg');
    background-size: 100%;
    display: flex;
    justify-content: space-evenly;
}
.bg {
    background-image: url('../img/about-bg.jpg');
    background-position: top;
    height: 50px;
}
.card {
    text-align: center;
    color: #fafafa;
    width: 20%;
}
.icon {
    width: 96px;
    height: 96px;
    margin: 10em auto 1em;
    padding: 1em;
    background-color: #F6C35B;
    border-radius: 50%;
    border: 4px solid #fafafa;
    text-align: center;
}
.card h2 {
    font-size: 20px;
    line-height: 50px;
    border-bottom: 1px solid #fafafa;
    margin: 2em 0;
    padding-bottom: 1em;
}

.card p {
    width: 95%;
    font-size: 17px;
    line-height: 25px;
    margin: 2em 0;
}

.buttonread {
    background-color: #3DC1CD;
    border-radius: 10px;
    width: 75%;
    padding: 0.5em;
    margin: 1em auto 4em;
    text-transform: uppercase;
}


@media screen and (max-width: 700px) {
    .fa-bars {
        display: block;
    }
    .flex ul {
        display: none;
    }
    nav {
        width: fit-content;
    }
    header {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 4em 3em 6.7em;
    }
    .headtext p{
        width: 80%;
        font-size: 25px;
    }
    .burger {
        position: absolute;
    }
    .burger:checked + ul {
        display: block;
        position: fixed;
        left: calc(50% - 170px);
        top: 15%;
    }
    .burger:checked + ul li {
        font-size: 35px;
        padding: 1em;
        width: 340px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0.9);
        mix-blend-mode: difference;
    }
    .about {
        flex-wrap: wrap;
    }
    .card {
        width: 100%;
    }
}