* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fafafa;
}
.game {
    margin: 2em 0;
    width: 21%;
    height: 400px; 
    text-align: center;
    padding: 2em;
    color: #fafafa;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
}
.gamehover {
    margin: 2em 0;
    width: 21%;
    height: 400px; 
    padding: 2em;
    color : "rgb(0, 0, 0)";
    text-shadow : "none";
}
