
.img {
    column-count: 4;
/*    display: flex;
    justify-content: space-between;
    max-width: 100%;*/
}
.colonne {
    column-count: 3;
    column-gap: 2em;
	column-rule: solid 1px #333;
}
.fond {
    background-color: rgba(0,0,0,0.2);
}
main {
    margin: auto;
    max-width: 90%;
}
ul {
    list-style-type: none;
    column-count: 2;
    column-gap: 1em;
    vertical-align: top;
    margin: auto;
}
li {
    margin-bottom: 1em;
    margin-left: -2em;
}
img {
    display: block;
    margin: auto;
}