*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body {
    background: #e1d2b8;
}
/* HEADER */
header {
    background: #0a0a0a;
    color: #fafafa;
    text-align: center;
}
header p{
    padding: 2em;
    font-size: 30px;
}
header nav ul{
    background: #d24242;
    padding: 1em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav li a{
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
}
h1, header p, h2 {
    font-family: cursive;
}
h1 {
    margin: 1em 0;
    text-align: center;
}
/* HOME */
#head--home {
    text-align: center;
}
#head--home h1{
    font-size: 2em;
}
#head--home p{
    font-size: 20px;
}
#home--article {
    width: 90%;
    margin: 1em auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#home--article article{
    margin: 1em 0;
    width: 40%;
    box-shadow: #0a0a0a 0 0 5px;
}
#home--article img {
    width: 50%;
    margin: 0.5em;
    float: left;
}
#home--article img::after{
    content: "";
    display: block;
}
#home--article p{
    margin: 0.5em;
    font-size: 20px;
}
#home--article h2 {
    font-size: 1.8em;
    text-align: center;
}
/* Profil */
#profil--section {
    width: 80%;
    margin: 1em auto;
    border: #0a0a0a 1px solid;
}
#profil--section img {
    float: right;
    width: 20%;
    margin:0 1em;
}
#profil--section img::after {
    content: "";
    display: block;
}
#profil--section h2 {
    font-size: 1.8em;
    text-align: center;
}
#profil--section div p{
    font-size: 20px;
    margin: 1em 0 0 1em;
    font-weight: Bold;
}
#profil--section div p span{
    font-weight: normal;
}
#profil--section div p:last-child{
    text-align: justify;
    font-weight: normal;
    line-height: 30px;
}
#profil--section div p:last-child span{
    font-weight: Bold;
}
/* Contact */
form {
    padding: 2em 0;
    margin: 2em auto;
    box-shadow: #000000 0 0 10px;
    width: 60%;
}
fieldset {
    font-size: 20px;
    width: 80%;
    padding: 2em;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}
fieldset label {
    margin: 0.5em auto;
    width: 50%;
}
fieldset label input {
    width: 100%;
    font-size: 20px;
    padding: 0.5em;
    border-radius: 15px;
    border: none;
    box-shadow: #0a0a0a 0 0 5px INSET;
}
fieldset label input::placeholder, fieldset textarea{
    font-size: 20px;
}
fieldset textarea {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 10px;
    border: none;
    box-shadow: #0a0a0a 0 0 5px INSET;
}
fieldset button {
    width: 30%;
    margin: 0.5em auto;
    border-radius: 10px;
    padding: 0.5em;
    border: none;
    box-shadow: #0a0a0a 0 0 5px;
    cursor: pointer;
}
legend {
    font-weight: Bold;
    padding: 0.5em;
}