li {
    margin: 1em;
    padding: 0.5em;
}
ul {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
li:hover {
    background-color: silver;
}
.selected {
    background-color: forestgreen;
}
em {
    font-style: Italic;
    color: red;
}