h1 {
    font-family: 'Open Sans',cursive;
    color: #048b9a;
}
body {
    background-color: silver;
}
button {
    background-color: inherit;
    border: 0;
    color: #1b019b;
}
#back, #read, #for, #shuffle {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
}
figure {
    text-align: center;
    font-family: 'Open Sans', cursive;
    font-size: 2.5rem;
    font-style: Italic;
    color: #048b9a;
}
.flex {
    display:flex;
    justify-content: center;
}
i:hover{
    cursor: pointer;
}
img, figcaption {
    transform: rotate(-10deg);
}
img {
    padding: 0.2em;
    background-color: white;
}
.hide {
    display: none;
}