/* Bases */
* {
	box-sizing: border-box; /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
	font-size: 1.6rem; /* on remets la taille du texte par défaut pour le body à 16px en utilisant les rem comme unité) */
    margin: 0;
    background-color: #7e4a7c;
    font-family: "open sans", sans-serif;
}

/* Classes */
.container {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 2em;
}
.footer {
	padding: 2em;
	text-align: center;
	color: #fff;
	background-color: #444;
}
.fond {
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.header {
    margin-top: 1em;
    text-align: center;
}
.purple {
    background-color: #7e4a7c;
}
.flex {
    display: flex;
    align-items: flex-start;
}
.around {
    justify-content: space-around;
}
.bet {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.navbut {
    padding: 1em;
    margin: 0.3em 0;
}
.nav {
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
}
.nav:hover {
    background-color: #fff;
    color: #7e4a7c;
}
.title {
    font-family: "Economica", sans-serif;
}
.sec {
    width: 32%;
}
.intro {
    color: #7e4a7c;
    font-style: Italic;
    margin-top: 0;
}
.button {
    display: inline-block;
    padding: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
}
.taille {
    font-size: 2rem;
}
.ter {
    width: 48%;
    margin-bottom: 2em;
}
.decal {
    margin-right: 1em;
}
.cards {
    padding: 1em;
    border: 1px solid #7e4a7c;
}
.pad {
    padding: 1em;
    margin: 0.5em;
}
.back {
    background-color: #ffeefe;
}
.large1 {
    width: 48%;
}
.large2 {
    width: 30%;
}
.center {
    text-align: center;    
}
/* Balises */
h1 {
    font-size: 5rem;
    text-align: center;
    color: #7e4a7c;
}
h2 {
    font-size: 4rem;
    color: #b878b5;
}
h3 {
    font-size: 3rem;
    color: #7e4a7c;
    margin-top: 0;
}
a {
    color: white;
}
ul {
    list-style-image: url("../images/puce-fleche.png");
}
th {
    background-color: #7e4a7c;
    color: #fff;
    border: 1px solid #b878b5;
    padding: 1em;
}
td {
    border: 1px solid #b878b5; 
    padding: 1em;
}
table {
    text-align: center;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}
input {
    width: 80%;
}
select {
    width: 75%;
}
button {
    color: #fff;
    font-size: 2.5rem;
}
td:empty {
    background-color: #ffeefe;
}
i {
    font-size: 3rem;
    letter-spacing: 2rem;
}